<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Signup</title>


</head>
<body>
<div class="signin-form">
    <form [formGroup]='login' (ngSubmit)="onSubmit()">
		<h2>Login</h2>
        <p class="hint-text">Login</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
			<a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
		</div>
		<div class="or-seperator"><b>or</b></div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg" name="email" formControlName="email" placeholder="email" required="required">
            
            <span class="col" *ngIf="login.controls.email.errors?.required && submitted">! email required</span>
            <span class="col" *ngIf="login.controls.email.errors?.pattern ">! Invalid email</span>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" name="password"   formControlName="password" placeholder="Password" required="required">
            <span class="col" *ngIf="login.controls.password.errors?.required && submitted">! Password required</span>
            <span class="col" *ngIf="login.controls.password.errors?.pattern ">! Please enter valid password at least one uppercase, one lower case and one special case</span>
        </div>  
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">login</button>
        </div>
        <div class="text-center small"><a href="#">Forgot Your password?</a></div>
    </form>
    <div class="text-center">Don't have an account ? <a routerLink="/signup">Sign Up</a></div>
</div>
</body>
</html>
