<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <form class="d-flex">
          <button class="btn btn-outline-success " type="submit">Add Product</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container">
  <h1 class="style text-center bold">PRODUCTS COMING FROM BACKEND</h1>
<br>
  <div class="container border-dark ">
    <div class="row d-flex justify-content-md-left flex-wrap align-items-stretch" >
<div  *ngFor="let product of products;" class=" m-2 shadow p-3 mb-5 bg-white rounded" >

        <img  src="http://localhost:2200/upload{{product.product_img}} "  alt="...">

        <h3 class="card-title card_title">{{product.product_title}}</h3>
        <h5 class="card-title card_price">Rs:-{{product.product_price}}</h5>
        <p class="card-text card_desc">{{product.product_desc}}</p>

</div>
</div> 
</div></div>

<h1>yamini</h1>