<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Sign in Form with Circular Social Buttons</title>


</head>
<body>
    
<div class="signin-form">
    <form [formGroup]='signup' (ngSubmit)="onSubmit()" >
		<h2>Signup</h2>
        <p class="hint-text">Signup</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
			<a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
		</div>
		<div class="or-seperator"><b>or</b></div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg" formControlName="name" placeholder="Name">

            <span *ngIf="signup.controls.name.errors?.required && submitted " class="col">! Name Required.</span>


            <span *ngIf="signup.controls.name.errors?.minlength || signup.controls.name.errors?.pattern" class="col">**should not be minimum 3 character error or should not be digit error.</span>


            <span *ngIf="signup.controls.name.errors?.maxlength" class="col">**Name should not be maximum 10 character.</span> 
        </div>
    
        <div class="form-group">
        	<input type="email" class="form-control input-lg" formControlName="email" placeholder="email" required="required">
            
            
            <span class="col" *ngIf="signup.controls.email.errors?.required && submitted">! email required</span>
            
            <span class="col" *ngIf="signup.controls.email.errors?.pattern ">! Invalid email</span>
        </div>
     

		<div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="password" placeholder="password" required="required">
            
            <span class="col" *ngIf="signup.controls.password.errors?.required && submitted">! Password required</span>
            <span class="col" *ngIf="signup.controls.password.errors?.pattern ">! Please enter valid password at least one uppercase, one lower case and one special case</span>
        </div>  
      

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign in</button>
        </div>
        <div class="text-center small"><a href="#">Forgot Your password?</a></div>
    </form>
    <div class="text-center">Already have an account ? <a routerLink="">Login </a></div></div>
</body>
</html>