
	body {
        color: #434343;
		background: #d0dddd;
		height: 130vh;
		
		font-family: 'Varela Round', sans-serif;
	}
    .form-control {
		font-size: 16px;
		transition: all 0.4s;
		box-shadow: none;
	}
	.form-control:focus {
        border-color: #5cb85c;
    }
    .form-control, .btn {
        border-radius: 50px;
		outline: none !important;
    }
	.signin-form {
		width: 450px;
    	margin: 0 auto;
		padding: 30px 0;
	}
    :host ::ng-deep #phone {
/*     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 */    height: 45px;
    width: 320px;
     border-radius: 50px; 
		outline: none;
        /* border: none; */
        border: 1.5px solid #cfcdcd;
        padding-right: 10px;

        
}
:host ::ng-deep #phone:hover {
    border-color: #5cb85c;;
    transition: all 0.8s;
    opacity: 0.5;
}
    .signin-form form {
		border-radius: 5px;
    	margin-bottom: 20px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px;
    }
	.signin-form a {
		color: #5cb85c;
	}    
	.signin-form h2 {
		text-align: center;
		font-size: 34px;
		margin: 10px 0 15px;
	}
	.signin-form .hint-text {
		color: #999;
		text-align: center;
		margin-bottom: 20px;
	}
	.signin-form .form-group {
		margin-bottom: 20px;
	}
    .signin-form .btn {        
        font-size: 18px;
		line-height: 26px;        
        font-weight: bold;
		text-align: center;
    }
    .signin-form .small {
        font-size: 13px;
    }
	.signup-btn {
		text-align: center;
		border-color: #5cb85c;
		transition: all 0.4s;
	}
	.signup-btn:hover {
		background: #5cb85c;
		opacity: 0.8;
	}
    .or-seperator {
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
        padding: 0 10px;
		width: 40px;
		height: 40px;
		font-size: 16px;
		text-align: center;
		line-height: 40px;
		background: #fff;
		display: inline-block;
        border: 1px solid #e0e0e0;
		border-radius: 50%;
        position: relative;
        top: -22px;
        z-index: 1;
    }
    .social-btn .btn {
		color: #fff;
        margin: 10px 0 0 30px;
		font-size: 15px;
        width: 55px;
        height: 55px;
        line-height: 38px;
        border-radius: 50%;
		font-weight: normal;
        text-align: center;
		border: none;
		transition: all 0.4s;
    }	
	.social-btn .btn:first-child {
		margin-left: 0;
	}
	.social-btn .btn:hover {
		opacity: 0.8;
	}
	.social-btn .btn-primary {
		background: #507cc0;
	}
	.social-btn .btn-info {
		background: #64ccf1;
	}
	.social-btn .btn-danger {
		background: #df4930;
	}
	.social-btn .btn i {
		font-size: 20px;
	}
	.col{
		font-size: small;
		color: red;
	}